* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
}

.sidebar {
  width: 25%;
  background-color: #f5f5f5;
  padding: 20px 0;
  overflow-y: auto;
}

.sidebar h2 {
  margin: 20px 0 20px 0; 
  font-weight: 600;
  letter-spacing: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.group-list{
  cursor: pointer;
}

.group-item{
  gap:20px;
  display:flex;
  justify-content: start;
  align-items:center;
  margin: 20px 20px;
}

.group-item:hover{
  background-color: #2F2F2F2B;
}

.group-icon{
  height:45px;
  width:45px;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.add-button {
  position: absolute;
  bottom: 20px;
  left: 250px;
  background-color:#16008B;
  color: white;
  font-size: 45px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.main-content {
  width: 75%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#DAE5F5;
  flex-grow: 1;
  overflow-y:auto;
}

.noteimg {
  margin-bottom: 20px;
}

.text-content h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 58.59px;
  letter-spacing: 0.02em;
}

.text-content p {
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #292929;
}

.end-text {
  margin-top: 20px;
  font-size: 18px;
  color: #292929;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.02em;
  position: absolute;
  bottom: 16px;
  left: 670px; 
}

@media (max-width: 700px) {
  .app {
    display: block;
  }

  .sidebar {
    width: 100%;
    height: 100vh;
  }

  .main-content, .group-page{
    display: none; 
  }

  
  .app.group-selected .sidebar {
    display: none; 
  }

  .app.group-selected .main-content,
  .app.group-selected .group-page {
    display: block;
    width: 100%;
    height: 100vh;
  }
}